# Data
data/
trash/

# Virtual environment
.venv/
.venv_mmpose/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
src/__pycache__/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# Weights and logs
weights/
logs/
*.pth
*.pt
*.ckpt
yolov8*.pt

# OS
.DS_Store
Thumbs.db

# DVC cache
.dvc/cache/yolo_pose.zip
src/data/__pycache__/
